# Python Einf√ºhrung

- Stichpunkte
- **fett** *kursiv*

In [1]:
print("Hello world")

Hello world

# Einfache Datentypen

In [7]:
# Variablen & Wertezuweisen
# String - Zeichenkette
name = "Lovelace"

In [5]:
print(name)

Lovelace

In [9]:
# Integer - Ganzzahl
age = 37
print (age)

37

In [10]:
# Float
size = 1.7123
print (size)

1.7123

In [11]:
# Boolean - Boolscher Wert
# True or False
knows_math = True
print (knows_math)
likes_gardening = False
print (likes_gardening)

True
False

In [14]:
print (name)
print (age)

Lovelace
37

In [18]:
# Typen anzeigen lassen
type (year)

str

In [19]:
year = "2021"

# Operatoren

In [20]:
5 + 5

10

In [21]:
age * 100

3700

In [22]:
name + name

'LovelaceLovelace'

In [23]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [24]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [25]:
name + "10"

'Lovelace10'

In [26]:
size / age

0.04627837837837838

In [27]:
number_of_articles = "50"

In [28]:
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [29]:
int (number_of_articles) / 10
# Wert in der Variable wird in Zahl gewandelt

5.0

# Funktionen und Methoden

In [30]:
len (name)

8

In [31]:
name.upper()

'LOVELACE'

In [32]:
name.count("e")

2

In [33]:
dna = "ACTGgGCAA"

In [34]:
dna.count ("G")

2

In [35]:
dna.upper().count("G")

3

In [37]:
name.replace("lace", " is everywhere")

'Love is everywhere'

# Listen und Dictionaries

In [38]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [39]:
names[0]

'Lovelace'

In [40]:
names[1]

'Darwin'

In [41]:
names[-1]

'Hawking'

In [42]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [43]:
names[:2]

['Lovelace', 'Darwin']

In [44]:
names[2:]

['Curie', 'Hawking']

In [45]:
authors_and_birth_year = {"Lovelace": 1815, 
                          "Darwin": 1809, 
                          "Noether": 1882,
                         "Hawking": 1942}

In [46]:
authors_and_birth_year["Lovelace"]

1815

In [47]:
authors_and_birth_year["LOVEleace"]

KeyError: 'LOVEleace'

In [49]:
authors_and_birth_year = {"Lovelace": 1815, 
                          "Darwin": [1809, 1810], 
                          "Noether": 1882,
                         "Hawking": 1942}

In [50]:
authors_and_birth_year["Darwin"]

[1809, 1810]

In [51]:
authors_and_birth_year["Darwin"][1]

1810

In [52]:
authors_and_birth_year = {"Lovelace": 1815, 
                          "Darwin": [1809, 1810,{"London": 1910, "Greenwich": 1911}],
                          "Noether": 1882,
                         "Hawking": 1942}

In [53]:
authors_and_birth_year["Darwin"][2]["London"]

1910

# For-Schleifen

In [54]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [55]:
for person in names: 
    print(person + " did awesome stuff!")

Lovelace did awesome stuff!
Darwin did awesome stuff!
Curie did awesome stuff!
Hawking did awesome stuff!

In [58]:
for person in names: 
    print(person + " did awesome stuff!")
    print ("--------")

Lovelace did awesome stuff!
--------
Darwin did awesome stuff!
--------
Curie did awesome stuff!
--------
Hawking did awesome stuff!
--------

In [59]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Bedingte Anweisungen (Conditionals)

In [60]:
temp = 20

In [61]:
20 > 10

True

In [62]:
20 < 10

False

In [64]:
temp = 20
if temp > 15:
    print ("It's warm.")

It's warm.

In [66]:
temp = 15
if temp >= 15:
    print ("It's warm.")

It's warm.

In [68]:
temp = 10
if temp >= 15:
    print ("It's warm.")
else:
    print("It's cold.")

It's cold.

In [69]:
temp = 25
if temp >= 25:
    print ("It's hot.")
elif temp>= 15:
    print ("It's warm.")
else:
    print("It's cold.")

It's hot.

In [ ]:
Erstellt eine Liste mit allen Namen aus eurer Gruppe.
Baut eine For-Schleife, die auf die Liste zur√ºckgreift
und f√ºr jede Person das Lieblingsessen zur√ºckgibt.
Beispiel:
    "Rabeas Lieblingsessen ist Lasagne"

In [2]:
namen1_and_lieblingsessen = {"Johannes": "Lasagne",
                           "Dana": "Spaghetti",
                           "Heinke": "Gr√ºnkohl",
                           "Katrin": "K√ºrbissuppe"}

In [1]:
names1 = ["Johannes", "Dana", "Heinke", "Katrin"]

In [3]:
for person in names1:
    print(person + " mag gerne " + namen1_and_lieblingsessen[person])

Johannes mag gerne Lasagne
Dana mag gerne Spaghetti
Heinke mag gerne Gr√ºnkohl
Katrin mag gerne K√ºrbissuppe

In [4]:
for person in namen1_and_lieblingsessen.keys():
    print(person + " mag gerne " + namen1_and_lieblingsessen[person])

Johannes mag gerne Lasagne
Dana mag gerne Spaghetti
Heinke mag gerne Gr√ºnkohl
Katrin mag gerne K√ºrbissuppe

In [5]:
namen1_and_lieblingsessen = {"Johannes": "Lasagne",
                           "Dana": "Spaghetti",
                           "Heinke": "Gr√ºnkohl",
                           "Katrin": "K√ºrbissuppe"}

In [6]:
for person in namen1_and_lieblingsessen.keys():
    print(person + " mag gerne " + namen1_and_lieblingsessen[person])

Johannes mag gerne Lasagne
Dana mag gerne Spaghetti
Heinke mag gerne Gr√ºnkohl
Katrin mag gerne K√ºrbissuppe